<!-- <li id="comment-<%= comment._id %>">
  <p>
    <% if (locals.user && locals.user.id==comment.user.id) {%>
    <small>
      <a
        class="delete-comment-button"
        href="/comments/destroy/<%= comment._id %>"
        >X</a
      >
    </small>
    <% } %> <%= comment.content %>
    <br />
    <small> <%= comment.user.name %> </small>

    <small>
      <% if (locals.user){ %>
      <a
        class="toggle-like-button"
        data-likes="<%= comment.likes.length %>"
        href="/likes/toggle/?id=<%=comment._id%>&type=Comment"
      >
        <%= comment.likes.length %> Likes
      </a>
      <% }else{ %> <%= comment.likes.length %> Likes <% } %>
    </small>
  </p>
</li> -->

<link rel="stylesheet" href="<%= assetPath('css/comment.css') %>" />

<div class="postCommentsItem" id="comment-<%= comment._id %>">
  <div class="deletePostComment">
    <% if (locals.user && locals.user.id==comment.user.id) {%>
    <a class="delete-comment-button" href="/comments/destroy/<%= comment._id %>"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-x"
      >
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </a>
    <% } %>
  </div>
  <div class="postCommentHeader">
    <span class="postCommentAuther"><%= comment.user.name %></span>
    <span class="postCommentTime"> <%= comment.createdAt %></span>
    <!-- {/* <span class="postCommentLikes}>22</span> */} -->
  </div>
  <div class="postCommentContent"><%= comment.content %></div>
  <% if (locals.user){ %>

  <div class="postLike">
    <button>
      <a
        class="toggle-like-button"
        data-likes="<%= comment.likes.length %>"
        href="/likes/toggle/?id=<%=comment._id%>&type=Comment"
      >
        <% try{ let likes = []; likes = comment.likes.filter(like =>
        (like.user._id.toString() === locals.user._id.toString()) &&
        (like.onModel === "Comment") && (comment._id.toString() ===
        like.likeable._id.toString())); if(likes.length > 0){ %>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="39.081"
          height="35.176"
          viewBox="0 0 39.081 35.176"
        >
          <path
            id="Red-Like-Icon-09uh"
            d="M257.329,9.511a11.035,11.035,0,0,0-15.606-.053l-.705.7-.7-.7A11.035,11.035,0,1,0,224.659,25l.7.7,15.552,15.66,15.66-15.553.7-.7a11.035,11.035,0,0,0,.053-15.606"
            transform="translate(-221.453 -6.194)"
            fill="#e74e5f"
          />
        </svg>
        <% }else{ %>

        <svg
          stroke="currentColor"
          strokeWidth="2"
          fill="none"
          strokeLinecap="round"
          strokeLinejoin="round"
          viewBox="0 0 24 24"
        >
          <path
            d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"
          ></path>
        </svg>

        <% }}catch(err){console.log(err);} %>

        <span><%= comment.likes.length %></span>
      </a>
    </button>
  </div>
  <% }else{ %>

  <div class="postActions">
    <div class="likes">
      <svg
        stroke="currentColor"
        strokeWidth="2"
        fill="none"
        strokeLinecap="round"
        strokeLinejoin="round"
        viewBox="0 0 24 24"
      >
        <path
          d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"
        ></path>
      </svg>
      <span><%= comment.likes.length %></span>
    </div>
  </div>
  <% } %>
</div>
