<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <!-- Add link for css -->
        <%- style -%>

    </head>
    <body>
        <!-- including header and footer from another file -->
        <%- include('_header'); -%>

        <!-- here body is a variable part
        what needs to be shown depends which file is called
        rest layout will same for every page -->
        <main id="layout-main">
            <%- body %>

        </main>

        <%- include('_footer'); -%>



        <!-- Add Script  -->
        <%- script -%>
    </body>
</html>


