<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script
      src="https://kit.fontawesome.com/34162fcf4d.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="<%= assetPath('css/layout.css') %>" />
    <link rel="stylesheet" href="<%= assetPath('css/header.css') %>" />
    <link rel="stylesheet" href="<%= assetPath('css/footer.css') %>" />

    <!-- Add link for css -->
    <%- style -%>
  </head>
  <body>
    <!-- including header and footer from another file -->
    <div class="headerDiv"><%- include('_header'); -%></div>

    <!-- here body is a variable part
        what needs to be shown depends which file is called
        rest layout will same for every page -->
    <div class="mainLayoutDiv"><%- body %></div>
    <div class="footerDiv"><%- include('_footer'); -%></div>

    <!-- Add Script  -->
    <%- script -%>

    <!-- flash script  -->
    <script>

      <% if(flash.success && flash.success.length > 0 ) {%>
          new Noty({
              theme:'relax',
              text: '<%= flash.success %>',
              type: 'success',
              layout: 'topRight',
              timeout: '1500'
          }).show();
      <% } %>
          //error
      <% if(flash.error && flash.error.length > 0 ) {%>
          new Noty({
              theme:'relax',
              text: '<%= flash.error %>',
              type: 'error',
              layout: 'topRight',
              timeout: '1500'
          }).show();
      <% } %>
    </script>
  </body>
</html>
