<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body> -->
        <!-- including header and footer from another file -->
        <!-- <%- include('_header'); -%> -->
        <link rel="stylesheet" type ="text/css" href="/css/profile.css">       
         
        <img src="/<%= profile_user.avatar%>" alt="<%= profile_user.name %>" width="100">
         

        <% if(user.id == profile_user.id){ %>
            <h3>
                USR Profile : <%= profile_user.name %>
            </h3>
            <p><%= profile_user.email %></p>
    
            <!-- if user matches then show form  -->
            <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="post">
                <input type="text" name="name" placeholder="Your Name" value=" <% profile_user.name %>" required>
                <input type="email" name="email" placeholder="Your Email" value="<% profile_user.email %>" required>

                <input type="file" name="avatar" placeholder="Profile Picture">
                <input type="submit" value="Update">
            </form>

        <% } else { %>
            <!-- else show only user profile  -->
            <h3>
                USR Profile : <%= profile_user.name %>
            </h3>
            <p><%= profile_user.email %></p>
    
        <% } %>

        <!-- <%- include('_footer'); -%>
    </body>
</html> -->