<link rel="stylesheet" href="<%= assetPath('css/profile.css') %>" />

<!-- <img
  src="http://localhost:8000/<%= profile_user.avatar %>"
  alt="<%= profile_user.name %>"
/> -->
<!-- http://localhost:8000/uploads/users/avatars/avatar-1694674454890-801194951 -->
<div class="wrapper">
  <div class="imgContainer">
    <% if(profile_user.avatar){ %>
    <img
      class="user-avatar"
      src="http://<%= req_url%>/<%= profile_user.avatar %>"
      data-src="<%= profile_user.avatar %>"
      alt="<%= profile_user.name %>"
      loading="lazy"
    />
    <% }else{ %>
    <img
      class="user-avatar"
      src="<%= assetPath('images/empty-avatar.png') %>"
      data-src="<%= assetPath('images/empty-avatar.png') %>"
      alt="<%= profile_user.name %>"
      loading="lazy"
    />
    <% } %>
  </div>

  <div class="user-container">
    <div class="user-name"><%= profile_user.name %></div>
    <span> <%= profile_user.email %> </span>
  </div>

  <!-- if user profile is of own -->
  <% if(user.id == profile_user.id){ %>

  <div class="formUpdateContainer">
    <form
      action="/users/update/<%= profile_user.id %>"
      enctype="multipart/form-data"
      method="post"
    >
      <input
        type="text"
        name="name"
        placeholder="Your Name"
        value=" <%= profile_user.name %>"
        required
      />
      <input
        type="email"
        name="email"
        placeholder="Your Email"
        value="<%= profile_user.email %>"
        required
      />

      <input type="file" name="avatar" placeholder="Profile Picture" />
      <input type="submit" value="Update" />
    </form>
  </div>
  <% } else { %>

  <div class="btnContainer">
    <% if(user.id != profile_user.id) {%> <% if(friends==false) {%>
    <p id="friend-style">
      <a href="/friends/toggle/?id=<%=profile_user.id%>" id="toggle-friend"
        >add friend</a
      >
    </p>
    <%}%> <% if(friends==true) {%>
    <p id="friend-style">
      <a href="/friends/toggle/?id=<%=profile_user.id%>" id="toggle-friend"
        >remove friend</a
      >
    </p>
    <%}%> <%}%>
  </div>
  <% } %>

  <script src="/js/toggle_friend.js"></script>
</div>
